.category-contain { background: #f5f5f5; }
.category-contain .sort-shop { width: 24%; float: left; margin: 0 1% 0 0; -moz-border-radius: 5; -webkit-border-radius: 5; border-radius: 5; }
.category-contain .category-contain-page { clear: both; }
