@import "compass/css3";

.account-contain {
  background: #f5f5f5;
  .breadcrumb {
    margin-bottom: 0px;
  }
  .account-contain-menu {
    h3 {
      font-size: 14px;
      background: #ddd;
      margin: 0px;
      padding: 10px;
    }
  }
  .account-contain-user {

  }
  .account-contain-car {
    .car-list {
      height: 110px;
      margin-bottom: 2px;
      position: relative;
      div {
        padding: 0px;
        margin: 0px;
        position: relative;
        img {
          height: 100px;
        }
      }
      .car-list-title {
        height: 40px;
        overflow: hidden;
        margin-top: 36px;
      }
      .car-price{
        margin-top: 34px;
        h4{ padding: 0 20px;}
        .car-price-true{
          font-size: 24px;
          color: #ea471c;
          margin-top: 6px;
        }
      }
      .car-buy{
        margin-top: 34px;
      }
    }
  }
}